{% extends 'article/base.html' %}

{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href=" {% static 'article/css/list.css' %} ">
{% endblock %}


{% block title %}Blog{% endblock %}

{% block content %}

<header>
    <div id="login">
        <span><a href="{% url 'article:register' %}" class="urls"> Регистрация </a></span>
        <span id="login-url"><a href="{% url 'article:login' %}" class="urls"> Войти </a></span>
    </div>
    <div id="logout">
        <span>
                {{request.user}}
        </span>
        <span><a href="{% url 'article:logout' %}" class="urls">Выйти из аккаунта</a></span>
    </div>
</header>
<nav>
    <button id="block"><a href="{% url 'article:createPost' %}">Create post</a></button>
</nav>
<div id="main-block">
{% if article %}
    {% for a in article %}
        <div id="post">
            <div id="title">
                <p id="aratar" ></p>
                <span id="username">{{ a.article_username}}</span>
                <span id="time-pub"><em>{{ a.article_date }}</em></span>
            </div>
            <p id="content">{{ a.article_content }}</p>
        </div>
    {% endfor %}
{% else %}
    Записи не найдены
{% endif %}
</div>
{% endblock %}