{% extends 'article/base.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <li>
            <ol>
                {{form.username.label}}
                {{form.username}}
            </ol>
            <ol>
                {{form.email.label}}
                {{form.email}}
            </ol>
            <ol>
                {{form.password1.label}}
                {{form.password1}}
            </ol>
            <ol>
                {{form.password2.label}}
                {{form.password2}}
            </ol>
        </li>
        {{form.errors}}
        <button type="submit" name="Create User">Регистрация</button>
    </form>
{% endblock %}